@using ShenZhen.Lottery.Model


<div data-v-3b9d91bc="" data-v-ed18c500="" class="dialog_wrap" style="">
    <div data-v-3b9d91bc="" class="dialog" style="min-height: 500px; top: 309px; left: 674px;" flag="true">
        <div data-v-3b9d91bc="" class="t_b-c dialog_title" style="cursor: move;">
            未结明细
      <a data-v-3b9d91bc="" href="javascript:;" class="dialog_close"></a>
        </div>
        <div data-v-3b9d91bc="" class="dialog_content" style="min-height: 500px;">
            <p data-v-ed18c500="" data-v-3b9d91bc="" class="top_btn">
                <a data-v-ed18c500="" data-v-3b9d91bc="" href="javascript:;" id="wjmxBack">返回</a>
            </p>

            <div data-v-c187c242="" data-v-ed18c500="" class="table-wrap" data-v-3b9d91bc="">

                <table data-v-c187c242="" class="table">
                    <tr data-v-c187c242="">
                        <th data-v-c187c242="">订单号</th>
                        <th data-v-c187c242="">时间</th>
                        <th data-v-c187c242="">彩种名称</th>
                        <th data-v-c187c242="">期号</th>
                        <th data-v-c187c242="">投注内容</th>
                        <th data-v-c187c242="">赔率</th>
                        <th data-v-c187c242="">投注金额</th>
                        <th data-v-c187c242="">退水</th>
                        <th data-v-c187c242="">可赢金额</th>
                    </tr>

                    @foreach (BettingRecord record in ViewBag.list)
                    {
                        var betMoney = record.BetCount * record.UnitMoney;
                            
                        
                        <tr data-v-c187c242="">
                            <td data-v-c187c242="">@record.Id</td>
                            <td data-v-c187c242="">@record.ShowTime</td>
                            <td data-v-c187c242="">
                                <span data-v-ed18c500="" data-v-c187c242="">@ViewBag.lTypeName</span>
                            </td>
                            <td data-v-c187c242="">@record.Issue</td>
                            <td data-v-c187c242="">
                                <span data-v-ed18c500="" data-v-c187c242="">@record.PlayName</span> <span data-v-ed18c500="" data-v-c187c242="" class="blue">@record.BetNum</span>
                            </td>
                            <td data-v-c187c242="">
                                <span data-v-ed18c500="" data-v-c187c242="">@record.Peilv</span>
                            </td>
                            <td data-v-c187c242="">@betMoney</td>
                            <td data-v-c187c242="">0</td>
                            <td data-v-c187c242="">@record.PossibleWinMoney</td>
                        </tr>
                    }



                    <tr data-v-c187c242="">
                        <td data-v-c187c242="">总计</td>
                        <td data-v-c187c242=""></td>
                        <td data-v-c187c242="">
                            <span data-v-ed18c500="" data-v-c187c242=""></span>
                        </td>
                        <td data-v-c187c242=""></td>
                        <td data-v-c187c242="">
                            <span data-v-ed18c500="" data-v-c187c242=""></span><span data-v-ed18c500="" data-v-c187c242="" class="blue"></span>
                        </td>
                        <td data-v-c187c242="">
                            <span data-v-ed18c500="" data-v-c187c242=""></span>
                        </td>
                        <td data-v-c187c242="">@ViewBag.m1</td>
                        <td data-v-c187c242=""></td>
                        <td data-v-c187c242=""></td>
                    </tr>
                    <!---->
                </table>
            </div>
        </div>
    </div>
</div>
