@using ShenZhen.Lottery.Model

@using ShenZhen.Lottery.Public


@{
    
    
    List<DayReport> lastList = ViewBag.lastWeekList;

    List<DayReport> thisList = ViewBag.thisWeekList;

    var thisSYTotal = thisList.Sum(p => p.ShowSY);

    var lastSYTotal = lastList.Sum(p => p.ShowSY);

    var totalMoney = lastList.Sum(p => p.BetMoney) + thisList.Sum(p => p.BetMoney);
    var totalCount = lastList.Sum(p => p.BetCount) + thisList.Sum(p => p.BetCount);
    
    var totalShowTuiShui = lastList.Sum(p => p.ShowTuiShui) + thisList.Sum(p => p.ShowTuiShui);
    
    var totalSY = thisSYTotal + lastSYTotal;
    
}


<div data-v-3b9d91bc="" data-v-c402b53e="" class="dialog_wrap dialog" style="">

    <div data-v-3b9d91bc="" class="dialog" style="min-height: 500px;" flag="true">

        <div data-v-3b9d91bc="" class="t_b-c dialog_title" style="cursor: move;">
            历史报表
      <a data-v-3b9d91bc="" href="javascript:;" class="dialog_close"></a>

        </div>

        <div data-v-3b9d91bc="" class="dialog_content" style="min-height: 500px;">

            <div data-v-c402b53e="" data-v-3b9d91bc="" class="date clearBoth">
            </div>
            <div data-v-c402b53e="" data-v-3b9d91bc="" class="wrap">
                <!---->
                <ul data-v-c402b53e="" data-v-3b9d91bc="" class="table-list">

                    <li data-v-c402b53e="" data-v-3b9d91bc="" class="qc-16">

                        <p data-v-c402b53e="" data-v-3b9d91bc="">上周下注状况</p>


                        <div data-v-c187c242="" data-v-c402b53e="" class="table-wrap table-w" data-v-3b9d91bc="">

                            <table data-v-c187c242="" class="table">

                                <tr data-v-c187c242="">

                                    <th data-v-c187c242="">交易日期</th>

                                    <th data-v-c187c242="">星期</th>
                                    <th data-v-c187c242="">下注金额</th>
                                    <th data-v-c187c242="">注数</th>

                                    <th data-v-c187c242="">退水</th>
                                    <th data-v-c187c242="">输赢</th>
                                    <th data-v-c187c242="">操作</th>
                                </tr>


                                @foreach (DayReport dr in ViewBag.lastWeekList)
                                {
                                    <tr data-v-c187c242="">
                                        <td data-v-c187c242="">@dr.Date</td>
                                        <td data-v-c187c242="">@dr.Week</td>
                                        <td data-v-c187c242="">@dr.BetMoney</td>
                                        <td data-v-c187c242="">@dr.BetCount</td>
                                        <td data-v-c187c242="">@dr.ShowTuiShui</td>
                                        <td data-v-c187c242="">

                                            @if (dr.ShowSY > 0)
                                            {
                                                <span data-v-c402b53e="" data-v-c187c242="" style="color: red;">@dr.ShowSY</span>
                                                
                                            }
                                            else
                                            {
                                                <span data-v-c402b53e="" data-v-c187c242="" style="color: green;">@dr.ShowSY</span>
                                            }

                                        </td>
                                        <td data-v-c187c242="">
                                            <a data-v-c402b53e="" data-v-c187c242="" href="javascript:;" class="tc-b_h review lookHistory" cid="@dr.Date">查看</a>
                                        </td>
                                    </tr>
                                }


                                <tr data-v-c187c242="">
                                    <td data-v-c187c242="">上周合计</td>
                                    <td data-v-c187c242=""></td>
                                    <td data-v-c187c242="">@lastList.Sum(p => p.BetMoney)</td>
                                    <td data-v-c187c242="">@lastList.Sum(p => p.BetCount)</td>
                                    <td data-v-c187c242="">@lastList.Sum(p => p.ShowTuiShui)</td>
                                    <td data-v-c187c242="">

                                        @if (lastSYTotal > 0)
                                        {
                                            <span data-v-c402b53e="" data-v-c187c242="" style="color: red;">@lastSYTotal</span>
                                            
                                        }
                                        else
                                        {
                                            <span data-v-c402b53e="" data-v-c187c242="" style="color: green;">@lastSYTotal</span>
                                        
                                        }

                                    </td>
                                    <td data-v-c187c242=""></td>
                                </tr>
                                <!---->
                            </table>
                        </div>
                        <p data-v-c402b53e="" data-v-3b9d91bc="">本周下注状况</p>
                        <div data-v-c187c242="" data-v-c402b53e="" class="table-wrap table-w" data-v-3b9d91bc="">
                            <table data-v-c187c242="" class="table">
                                <tr data-v-c187c242="">
                                    <th data-v-c187c242="">交易日期</th>
                                    <th data-v-c187c242="">星期</th>
                                    <th data-v-c187c242="">下注金额</th>
                                    <th data-v-c187c242="">注数</th>
                                    <th data-v-c187c242="">退水</th>
                                    <th data-v-c187c242="">输赢</th>
                                    <th data-v-c187c242="">操作</th>
                                </tr>

                                @foreach (DayReport dr in ViewBag.thisWeekList)
                                {
                                    <tr data-v-c187c242="">
                                        <td data-v-c187c242="">@dr.Date</td>
                                        <td data-v-c187c242="">@dr.Week</td>
                                        <td data-v-c187c242="">@dr.BetMoney</td>
                                        <td data-v-c187c242="">@dr.BetCount</td>
                                        <td data-v-c187c242="">@dr.ShowTuiShui</td>
                                        <td data-v-c187c242="">

                                            @if (dr.ShowSY > 0)
                                            {
                                                <span data-v-c402b53e="" data-v-c187c242="" style="color: red;">@dr.ShowSY</span>
                                                
                                            }
                                            else
                                            {
                                                <span data-v-c402b53e="" data-v-c187c242="" style="color: green;">@dr.ShowSY</span>
                                            }

                                        </td>
                                        <td data-v-c187c242="">
                                            <a data-v-c402b53e="" data-v-c187c242="" href="javascript:;" class="tc-b_h review lookHistory" cid="@dr.Date">查看</a>
                                        </td>
                                    </tr>
                                }



                                <tr data-v-c187c242="">
                                    <td data-v-c187c242="">本周合计</td>
                                    <td data-v-c187c242=""></td>
                                    <td data-v-c187c242="">@thisList.Sum(p => p.BetMoney)</td>
                                    <td data-v-c187c242="">@thisList.Sum(p => p.BetCount)</td>
                                    <td data-v-c187c242="">@thisList.Sum(p => p.ShowTuiShui)</td>
                                    <td data-v-c187c242="">
                                        @if (thisSYTotal > 0)
                                        {
                                            <span data-v-c402b53e="" data-v-c187c242="" style="color: red;">@thisSYTotal</span>
                                            
                                        }
                                        else
                                        {
                                            <span data-v-c402b53e="" data-v-c187c242="" style="color: green;">@thisSYTotal</span>
                                        
                                        }

                                    </td>
                                    <td data-v-c187c242=""></td>
                                </tr>
                                <tr data-v-c187c242="">
                                    <td data-v-c187c242="">两周总计</td>
                                    <td data-v-c187c242=""></td>
                                    <td data-v-c187c242="">@totalMoney</td>
                                    <td data-v-c187c242="">@totalCount</td>
                                    <td data-v-c187c242="">@totalShowTuiShui</td>
                                    <td data-v-c187c242="">

                                        @if (totalSY > 0)
                                        {
                                            <span data-v-c402b53e="" data-v-c187c242="" style="color: red;">@totalSY</span>
                                        }
                                        else
                                        { 
                                            <span data-v-c402b53e="" data-v-c187c242="" style="color: green;">@totalSY</span>
                                        }
                                    </td>
                                    <td data-v-c187c242=""></td>
                                </tr>
                                <!---->
                            </table>
                        </div>
                    </li>
                    <!---->
                    <!---->
                    <!---->
                </ul>
            </div>
        </div>
    </div>
</div>
