@using ShenZhen.Lottery.Model


<div data-v-3b9d91bc="" data-v-70a5c976="" class="dialog_wrap dialog" style="">
    <div data-v-3b9d91bc="" class="dialog" style="min-height: 500px; top: 303px; left: 675px;" flag="true">
        <div data-v-3b9d91bc="" class="t_b-c dialog_title" style="cursor: move;">
            今日已结
      <a data-v-3b9d91bc="" href="javascript:;" class="dialog_close"></a>
        </div>
        <div data-v-3b9d91bc="" class="dialog_content" style="min-height: 500px;">
            <ul data-v-70a5c976="" data-v-3b9d91bc="" class="table-list">
                <!---->
                <li data-v-70a5c976="" data-v-3b9d91bc="" class="qc-16">
                    <div data-v-c187c242="" data-v-70a5c976="" class="table-wrap table-w" data-v-3b9d91bc="">
                        <table data-v-c187c242="" class="table">
                            <tr data-v-c187c242="">
                                <th data-v-c187c242="">期号</th>
                                <th data-v-c187c242="">注数</th>
                                <th data-v-c187c242="">下注金额</th>
                                <th data-v-c187c242="">退水</th>
                                <th data-v-c187c242="">输赢</th>
                            </tr>
                            <!---->


                            @if (ViewBag.count > 0)
                            { 
                            
                                <tr data-v-c187c242="">
                                    <td data-v-c187c242="">
                                        <a data-v-70a5c976="" data-v-c187c242="" href="javascript:;" id="settlementDetail">@ViewBag.issue</a>
                                    </td>
                                    <td data-v-c187c242="">@ViewBag.count</td>
                                    <td data-v-c187c242="">@ViewBag.betMoney</td>
                                    <td data-v-c187c242="">@ViewBag.tuishui</td>
                                    <td data-v-c187c242="">
                                        <span data-v-70a5c976="" data-v-c187c242="" style="color: green;">@ViewBag.sy</span>
                                    </td>
                                </tr>
                            
                            }



                        </table>
                    </div>
                </li>
                <!---->
            </ul>
        </div>
    </div>
</div>
